* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
    color: rgb(207, 207, 207);
    background-color: rgb(39, 39, 39);
    font-family: sans-serif;
}